body {
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    position: relative;
    background-color: #ffffff;
    background-image: url("/images/background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.header-image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 548px;
}

.logo {
    position: relative;
    left: -30px; top: 30px;
    width: 105px;
    height: 39px;
}

.header-title {
    max-width: 709px;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
}

.span-accent {
    color: #000000;
    font-style: italic;
}

.header-description {
    max-width: 683px;
    font-family: "Inter, Arial, sans-serif";
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    z-index: 1;

}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 183px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

.nav_link {

    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}
.header-info{

    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    min-width: 720px;
    max-width: 800px;
    position: absolute;
    left: 80px; bottom: 40px;
    align-items: flex end;

}

.info-text{
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;

}
.header-address{
  align-self: flex-end;

}